<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>
<body>
<div>
    <table border="2">
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
            <th>Role</th>
        </tr>

    <tr th:each="user : ${allUsers}">
        <td th:utext="${user.getId()}">Id</td>
        <td th:utext="${user.getUsername()}">Username</td>
        <td th:utext="${user.getEmail()}">Email</td>
        <td th:each="role : ${user.getAuthorities()}">
            <span th:utext="${role.getAuthority()}">Role</span>
        </td>
        <td><a th:href="@{/admin/{id}/edit(id=${user.getId()})}">Edit</a> </td>
        <td>
            <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    </table>

</div>
</br>
<a th:href="@{/admin/new}">Create new user</a>
<p></p>
<a th:href="@{/logout}">Logout</a>
</body>
</html>